<% include _header %>

<h1>Registro de armas</h1>

<form action="/interfaces" method="post">
    <div class="form-group">
        <input name="descripcion" type="String" class="form-control" placeholder="descripcion" required/>
    </div>
    <div class="form-group">
        <input name="categoria" type="String" class="form-control" placeholder="categoria" required/>
    </div>
    <div class="form-group">
        <input name="fuerza" type="String" class="form-control" placeholder="fuerza" required/>
    </div>
    <div class="form-group">
        <input name="municiones" type="Boolean" class="form-control" placeholder="municiones" required/>
    </div>

    <input type="submit" value="Registrate" class="btn btn-primary btn-block"/>
</form>


<%include _footer%>